:root {
  --clair: #f5f5dc;
  --sombre: #1e1f27;
  --error: #ff7171;
  --valid: #a4fa82;
  --principal: #e3e7f0;
  --secondaire: #444c5c;
  --white: #f1f1f1;
}

.hidden {
  display: none;
}

/* INDEX.HTML */

/* HEADER */
.header {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  & .header__logo {
    width: 12%;
  }
  & .header__title {
    font-family: "Raleway", sans-serif;
    color: var(--secondaire);
    margin: 0px;
  }
  & .tuto {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

/* HOME SECTION */
.home {
  margin-top: 8rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.discover {
  display: flex;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondaire);
  color: var(--principal);
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}
.install {
  background-color: var(--principal);
  color: var(--secondaire);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* SHOP.HTML */

/* FILTRES */

.filtres__checkbox {
  margin: 2rem;
  margin-top: 0rem;
  & .filtres__title--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sombre);
    & .filtres__title {
      font-family: "Arvo", sans-serif;
      color: var(--sombre);
      margin: 0px;
    }
    & .reset {
      font-family: "Arvo", sans-serif;
      color: var(--sombre);
      margin: 0px;
      display: none;
    }
  }
  & .filtres__checkbox--divs {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: "Arvo", sans-serif;
    font-weight: 600;
    color: var(--sombre);
    & .filtres__checkbox--div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & input {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.filtres__checkbox:has(input:checked) .reset {
  display: block;
}

/* TUTO */

.tuto__cible {
  border: 2px solid var(--error);
}

.popup__tuto {
  font-family: "Arvo", sans-serif;
  color: var(--principal);
  width: 60%;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--secondaire);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & .popup__btn {
    display: flex;
    justify-content: space-between;
    & .popup__btn--prev {
      background-color: var(--error);
      color: var(--sombre);
      border: none;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
    }
    & .popup__btn--next {
      background-color: var(--valid);
      color: var(--sombre);
      border: none;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}

/* ARTICLES */

.articles {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & .article__div {
    background-color: var(--principal);
    border-radius: 1rem;
    width: 48%;
    margin-bottom: 1rem;
    & .article__div--img {
      border-radius: 1rem 1rem 0rem 0rem;
      margin-bottom: -5px;
      width: 100%;
      height: 18vh;
      object-fit: cover;
    }
    & .article__div--infos {
      border-radius: 0rem 0rem 1rem 1rem;
      box-shadow: inset 0px 3px 10px -5px rgba(0, 0, 0, 0.5);
      padding: 0.8rem 1rem;
      & h3 {
        width: 100%;
        margin: 0px;
        font-family: "Arvo", sans-serif;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & div {
        padding-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &:not(:has(img)) {
      background-color: transparent;
      & .article__div--infos {
        background-color: var(--principal);
        margin-top: 18vh;
        border-radius: 1rem;
      }
    }
  }
}

/* POPUP */

.popup {
  border-radius: 2rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondaire);
  display: none;
  & h2 {
    font-family: "Arvo", sans-serif;
    color: var(--principal);
  }
  & .popup__box {
    margin-bottom: 1rem;
    & p {
      font-family: "Arvo", sans-serif;
      color: var(--principal);
    }
    & select {
      background-color: var(--principal);
      border-radius: 1rem;
      padding: 0.6rem;
      font-family: "Arvo", sans-serif;
      color: var(--secondaire);
    }
    & .popup__other--field {
      display: none;
      flex-direction: column;
      gap: 10px;
      & .popup__other--input {
        padding: 0.6rem;
        border: none;
        border-radius: 1rem;
        background-color: var(--principal);
        font-family: "Arvo", sans-serif;
        color: var(--secondaire);
      }
    }
    & .popup__box--btn {
      margin-top: 2.5rem;
      display: flex;
      justify-content: space-between;
      & button {
        border: none;
        border-radius: 1rem;
        padding: 0.7rem;
        background-color: var(--error);
        color: var(--clair);
      }
      & button:first-child {
        background-color: var(--valid);
        color: var(--sombre);
      }
    }
  }
}
.popup__box:has(option[value="autres"]:checked) .popup__other--field {
  display: flex;
}
.popup__box:has(.popup__error) .popup__other--input {
  border: 2px solid var(--error) !important;
}

/* FOOTER */
.footer__p {
  margin-top: 9.5rem;
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 0.8rem;
}

/* MENU */

.footer__menu {
  position: fixed;
  width: 80%;
  bottom: 2.5rem;
  border-radius: 1rem;
  background-color: var(--secondaire);
  padding: 1rem 1rem;
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* INFO.HTML */

.info {
  .info__section {
    padding: 0.5rem;
    font-family: "Arvo", serif;
    font-size: 0.9rem;
    text-align: justify;
    color: var(--sombre);
    & code {
      font-family: "Arvo", serif;
      font-style: italic;
      color: var(--secondaire);
    }
  }
  & .footer__p {
    margin-top: 4rem;
  }
}
